body {
  font-family: "Kanit", sans-serif;
}
:root {
  --main-color: #efb215;
}
.btnOncard {
  background-color: #01adef;
  border: none;
  color: white;
  padding: 4px 32px;
  text-align: center;
  font-size: 16px;
  margin: 10px 2px;
  opacity: 1;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.btnOncard:hover {
  opacity: 0.5;
  background-color: #2cb7ee;
  color: #fff;
}

.footer {
  position: fixed;
  height: 3.5rem;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  color: #000;
  text-align: center;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0.2, 0.2);
}
.bg-logo {
  background-color: #030712;
}
.bg-main {
  background-color: var(--main-color);
}
.bg-runing {
  background-color: #01adef;
  box-shadow: 0 10px 8px 0 rgb(0 0 0 / 20%);
}
.text-xs {
  font-size: 13px;
}
.cardPoind {
  flex-direction: row;
  background-color: var(--main-color);
  border: 0;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.18);
}

.newbtnRound {
  border-radius: 15px;
  padding: 2px 30px;
}
.textrotate {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  white-space: nowrap;
}
.roundright {
  border-radius: 0px 15px 15px 0px;
}
.cardgreet {
  flex-direction: row;
  background-color: var(--main-color);
}
.cardgreet .newrounded {
  border-radius: 15px;
}
.heading--text {
  transform: rotate(90deg);
  white-space: nowrap;
}
a {
  text-decoration: none;
}
.cardgreet img {
  width: 100%;
  margin: 0;
}

.imagecoupon {
  height: 15vw;
  object-fit: fill;
}
.cardPoind img {
  background-color: #000;
  max-width: 80%;
}
.imageSlide {
  height: 25vw;
  object-fit: fill;
}
.newimage {
  height: 10vw;
  object-fit: fill;
}
.imagePoint {
  background-color: #000;
  min-height: 100%;
}
.disable-card {
  background-color: rgb(221, 220, 220);
  opacity: 0.5;
}
.textblood {
  color: #6e1313;
}
.btnUsecoupon {
  border-radius: 20px;
  padding: 10px 80px;
}
.hidden {
  display: none;
}

.emerald {
  background: #000;
}

.dl {
  background: rgb(71, 177, 226);
  padding: 10px 0;
  border-radius: 20px;
  position: relative;
}

.dl .brand {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}
.dl .showCoupon {
  min-height: 20px;
  position: relative;
  font-size: 22px;
  line-height: 40px;
  text-align: center;
  font-weight: 700;
  color: #f1c40f;
  padding: 10px 0px;
}
.dl .type {
  font-weight: 700;
  color: #f80505;
}

@media screen and (max-width: 475px) {
  .cardPoind {
    font-size: 0.75em;
  }
  .cardPoind img {
    max-width: 15%;
    background-color: #000;
  }
  .newimage {
    height: 25vw;
    object-fit: fill;
  }
  .imagecoupon {
    height: 100%;
    object-fit: fill;
  }
  .imageSlide {
    height: 32vw;
    object-fit: fill;
  }
  .btnOncard {
    padding: 2px 2px;
    text-align: center;
    font-size: 12px;
    margin: 5px 0px;
  }
  .imagePoint {
    height: 18vh;
    object-fit: contain;
  }
  .cardgreet img {
    width: 100%;
  }
}
